In [2]:
import pandas
#from keyword_gen_and_fixer import keyword_gen, keyword_fixer

In [3]:
csv = "dataset/ecm_curriculum.csv"
courses_df = pandas.read_csv(csv)
courses_df

,Unnamed: 0,Course Code,course_title_l,keywords
0,0,BCHY101L,Engineering Chemistry,"['engineering chemistry', 'chemistry', 'engine..."
1,1,BCHY101P,Engineering Chemistry Lab,"['engineering chemistry lab', 'chemistry lab',..."
2,2,BMAT101L,Calculus,['calculus']
3,3,BMAT101P,Calculus Lab,"['calculus lab', 'calculus', 'lab']"
4,4,BMAT102L,Differential Equations and Transforms,"['differential equations transforms', 'equatio..."
...,...,...,...,...
94,94,BECM101N,Introduction to Engineering,"['introduction engineering', 'engineering', 'i..."
95,95,BEXC100N,Extra curricular activities,"['extra curricular activities', 'extra curricu..."
96,96,BHUM101N,Ethics and Values,"['ethics values', 'ethics', 'values']"
97,97,BSSC101N,Essence of Traditional Knowledge,"['traditional knowledge', 'essence traditional..."
98,98,BSSC102N,Indian Constitution,"['indian constitution', 'constitution', 'indian']"

In [ ]:
courses_df

In [4]:
for i in ['swing trading strategies', 'market swing trading', 'swing trading', 'market swing', 'stock market swing', 'trading strategies', 'strategies wall street', 'trading strategies wall', 'wall street', 'stock market']:
    if i  == "trading":
        print(i)

In [1]:
import pandas

In [59]:

mdataframe = pandas.read_csv("dataset\materials.csv")
def material_find(user_input, dataframe):
    mlist = []
    for i in dataframe["c_title"]:
        mlist.append(i)

    if user_input in mlist:
        print(user_input)
        index = dataframe.index[dataframe["c_title"] == user_input]
        index = index[0]
        
        return dataframe.loc[index, "materials"]

s = material_find("BCSE101E : Computer Programming : Python2", mdataframe)
type(s)

NoneType

In [23]:
if "BCSE101E : Computer Programming : Python"  in mdataframe["c_title"]:
    print(1)

In [113]:
def material_adder(ctitle,material, csv):
    clist = []
    
    dataframe = pandas.read_csv(csv)
    for i in dataframe["c_title"]:
        clist.append(i)
    print(clist)
    if ctitle in clist:
        index = dataframe.index[dataframe["c_title"] == ctitle]
        index = index[0]
        
        mlist = eval(dataframe.loc[index, "materials"])
        
    else:
        ilist = []
        for i in dataframe["index"]:
            
            ilist.append(i)
        
        indexa = ilist[-1]
        df2 = pandas.DataFrame({"index": [indexa+1], "c_title":[ctitle],
               "materials": [str([material])]
               })
        
        dataframe = dataframe._append(df2, ignore_index=True)
        index = dataframe.index[dataframe["c_title"] == ctitle]
        
        index = index[0]
        print(index)
        
        mlist = eval(dataframe.loc[index, "materials"])
        
    
    mlist.append(material)
    dataframe.at[index, "materials"] = str(mlist)
    dataframe.to_csv("dataset\materials.csv")
    return dataframe
    

material_adder("BCHY101L : Engineering Chemistry", "lmao", "dataset\materials.csv")

['BCSE101E : Computer Programming : Python', 'BCHY101L : Engineering Chemistry']

,Unnamed: 0.6,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,index,c_title,materials
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,BCSE101E : Computer Programming : Python,['https://youtu.be/8DvywoWv6fI?si=fVK_iTJSpLcd...
1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,BCHY101L : Engineering Chemistry,"['lmao', 'lmao', 'lmao']"